body {
  background-color: lavender;
  height: 100vh;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 75%;
  height: 25%;
  background: aqua;
  margin: auto;
}

img {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

h1 {
  width: 65%;
  font-family: "Courier New", Courier, monospace;
  bottom: 0px;
  margin: 150px 45px 0px 125px;
}

select {
  max-width: 25%;
  height: 25px;
  margin: 0% 20% 5% 0%;
  padding: 20pt;
}

form {
  margin: 5%;
  display: grid;
  grid-auto-flow: row;
}

#submitInput {
  width: 10%;
  margin: 0% 10% 0% 0%;
  text-align: center;
}

#textInput {
  height: 75px;
  justify-items: center;
  text-align: center;
}

#movieInfo {
  margin: auto;
}

ul {
  list-style-type: none;
}

h2 {
    font-weight: bolder;
}

@media only screen and (max-width: 900px) {
  body > img {
    margin: 2% 2.5%;
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  body > img {
    margin: 2% 2.5%;
    width: 45%;
  }
}
